name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      dockerfile:
        description: 'Path to Dockerfile'
        required: false
        type: string
        default: './Dockerfile'
      context:
        description: 'Build context path'
        required: false
        type: string
        default: '.'
      tags:
        description: 'Docker image tags (one per line)'
        required: true
        type: string
      build_args:
        description: 'Docker build arguments (multiline string)'
        required: false
        type: string
        default: ''
      registry_server:
        description: 'Container registry server'
        required: true
        type: string
      registry_username:
        description: 'Container registry username'
        required: true
        type: string

    secrets:
      REGISTRY_PASSWORD:
        description: 'Container registry password'
        required: true

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v5

      - name: 'Registry Login'
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry_server }}
          username: ${{ inputs.registry_username }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          context:    ${{ inputs.context }}
          file:       ${{ inputs.dockerfile }}
          tags:       ${{ inputs.tags }}
          build-args: ${{ inputs.build_args }}
          push:       true
